.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  color: black;
}
.register::before {
  content: "";
  position: absolute;
  background: white;
  border-radius: 20px;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.registerFormWrapper {
  position: relative;
  z-index: 1;
  width: 50%;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-bottom: 1px solid slategray;
}

.registerInput:focus{
  border: 0;
  outline: 0;
  border-bottom: 1px solid blue;
}
.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
  display: inline;
  width: fit-content;
}

.registerLoginButton {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  display: block;
  margin-top: 30px;
}
